*{
    margin: 0;
    padding: 0;
}

.grid-container{
    width: 80%;
    margin: 0 auto;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 100px auto 150px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
}
.encabezado{background-color: #cbde6a;
grid-area: header;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}
.menu{ background-color: white;
    grid-area: nav;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

}
.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul li a{
    text-decoration: none;
    color: white;
}
.contenido{
background-color: #c0e6ed;
grid-area: main;
}
.pie{
    background-color: #91568b;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

h1{
    color: brown;
    font-size: 3rem;
    margin-top: 3rem;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: white;
}

p{
    font-size: 1.3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    margin-top: 3rem
}

ul{
    list-style: none;
}

.lista-nav li{
    display: inline;
    font-size: 1.8rem;
}
a{
    text-decoration: none;
}

.lista-nav li a{
    color: white;
    background-color: #98248c;
    padding: 10px
}

footer{
    margin-top: 10rem;
    font-size: 1.2rem;
}

.foto1{
    width: 20rem;
    height: 20rem;
}

.foto2{
    width: 20rem;
    height: 20rem;
}
.foto3{
    width: 20rem;
    height: 20rem;
}
.foto4{
    width: 20rem;
    height: 20rem;
}

@media screen and (max-width:1000px){
.grid-container{
    width: 100%;
    margin: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 100px auto 100px;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "footer footer"
    ;
}
}

@media screen and (max-width:500px){
    grid-container{
        width: 100%;
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 250px 100px auto 100px;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer"
        ;
}
.menu ul{
    flex-direction: column;
}
}