h1{
    color: red;
    font-size: 3rem;
    margin-top: 3rem;
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-size: 1.3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.opciones-menu{
    font-weight: bold;
    padding: 5px 15px;
    cursor: pointer;
}

.colorheader{
        background-color:  #c0e6ed
}


